/* LoginForm.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }
  
  .login-form-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 20px;
    flex-grow: 1;
  }
  
  .login-form {
    max-width: 400px;
    width: 100%;
    margin-right:35%;
    margin-top:5%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
  
  a {
    color: #e6eaf0;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  