.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}


.main-container {
  flex-grow: 1;
  display: flex;
  background-color: #f8f8f8;
}

.main-container .right{
  margin:0px;
  float:right;
  padding: 2px;
}
.main-container .right p{
  text-align:justify;
  text-align: left;
}

.main-container .left img{
  width:700px;
  height:100%;
}
